<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='main-style.css')}}">

        <title> BABIES! </title>
    </head>
    <body>
        <a href='/edit-schedule'><h1> outlet schedule change </h1></a>
        <h1> OWOWOW LOOK IT'S THE BABIES!!!!!!!! </h1>
        <table>
            <tr>
                <th><h2>LYWAAA!!!!!!!!!!</h2></th>
                <th><h2>AZZY MAN!!!!!!!!!!!!</h2></th>
                <th><h2>BOTH BABIES!!!!!!!!!!!!!</h2></th>
            </tr>
            <tr>
                <td><img src="{{url_for('static', filename='lywa.jpg')}}" alt="lywa"></td>
                <td><img src="{{url_for('static', filename='asriel.jpg')}}" alt="azzy"></td>
                <td><img src="{{url_for('static', filename='lywa-and-azzy.jpg')}}" alt="bofa"></td>
            </tr>
        </table>
    </body>
</html>

