<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>switch schedule</title>
        <script src="{{url_for('static', filename='scheduler.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='main-style.css')}}">
    </head>
    <body onload="buildSchedule({{schedule}});">
        <a href="/"><h1> Homepage </h1></a>
        <div id="head">
            <!--h1> change outlet schedule </h1-->
            <button class="chunky action on" type="button" onclick="postOverride('{{ url_for('override') }}', 1);">override on</button>
            <button class="chunky action off" type="button" onclick="postOverride('{{ url_for('override') }}', 0);">override off</button>
            <button class="chunky action reset" type="button" onclick="postOverride('{{ url_for('override') }}', -1);">override reset</button>

            <button class="chunky left-button" type="button" onclick="submitSchedule();"> submit change </button>
            <button class="chunky normal-button" type="button" onclick="resetSchedule();"> reset </button>
        </div>
        <div id="schedule-holster"></div>
    </body> 
</html>
